
/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .main {
        @apply flex h-full flex-col gap-6 container  items-center justify-center
    }
    .textarea {
        @apply block p-2.5 w-full h-[calc(100%-6rem)]
        text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
        focus:ring-blue-500 focus:border-blue-500
        dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    .popover {
        @apply  min-w-fit w-[7rem] left-[-2.5rem] text-center h-fit absolute bottom-[100%] z-50 transition-all;

        .popoverBody {
            @apply rounded p-1 shadow-[10px_30px_150px_rgba(46,38,92,0.25)] mb-[4px]
            bg-gray-50 border border-gray-300
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400;
        }

        .content {
            @apply text-xs text-gray-900 bg-gray-50
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-300 dark:focus:ring-blue-500 dark:focus:border-blue-500;
        }
    }

    .emotionIcon {
        @apply h-[1.5em] w-[1.5em] mx-1
    }
    .emotion {
        @apply h-[2em] w-[2em] animate-in fade-in zoom-in-150 slide-in-from-top duration-1000
    }
}